<?xml version="1.0"?>
<config>
  <modules>
    <Veritrans_VtWeb>
      <version>0.1.0</version>
    </Veritrans_VtWeb>
  </modules>
  <global>
    <models>
      <vtweb>
        <class>Veritrans_Vtweb_Model</class>
      </vtweb>
    </models>
    <helpers>
      <vtweb>
        <class>Veritrans_Vtweb_Helper</class>
      </vtweb>
    </helpers>
    <blocks>
      <vtweb>
        <class>Veritrans_Vtweb_Block</class>
      </vtweb>
    </blocks>
    <adminhtml>
      <layout>
        <updates>
          <vtweb>
            <file>veritrans.xml</file>
          </vtweb>
        </updates>
      </layout>
    </adminhtml>
  </global>
  <default>
    <payment>
        <vtweb>
          <model>vtweb/abstract</model>
          <active>0</active>
          <order_status>pending</order_status>
          <title>Credit Card</title>
          <payment_action>sale</payment_action>
          <allowspecific>0</allowspecific>
          <sort_order>1</sort_order>
          <conversion_rate>20000</conversion_rate>
          <enable_3d_secure>true</enable_3d_secure>
          <environment>sandbox</environment>
        </vtweb>
      <mandiri_clickpay>
        <model>vtweb/mandiriclickpay</model>
        <group>vtweb_mandiriclickpay</group>
        <active>1</active>
        <title>mandiri clickpay</title>
        <sort_order>2</sort_order>
      </mandiri_clickpay>
      <cimb_clicks>
        <model>vtweb/cimbclicks</model>
        <group>vtweb_cimbclicks</group>
        <active>1</active>
        <title>cimb clicks</title>
        <sort_order>3</sort_order>
      </cimb_clicks>
      <bank_transfer>
        <model>vtweb/permatava</model>
        <group>vtweb_permatava</group>
        <active>1</active>
        <title>ATM Transfer</title>
        <sort_order>4</sort_order>
      </bank_transfer>
      <bri_epay>
        <model>vtweb/briepay</model>
        <group>vtweb_briepay</group>
        <active>1</active>
        <title>Bri epay</title>
        <sort_order>5</sort_order>
      </bri_epay>
      <telkomsel_cash>
        <model>vtweb/telkomselcash</model>
        <group>vtweb_telkomselcash</group>
        <active>1</active>
        <title>Telkomsel Cash</title>
        <sort_order>6</sort_order>
      </telkomsel_cash>
      <xl_tunai>
        <model>vtweb/xltunai</model>
        <group>vtweb_xltunai</group>
        <active>1</active>
        <title>Xl Tunai</title>
        <sort_order>7</sort_order>
      </xl_tunai>
      <echannel>
        <model>vtweb/mandiribill</model>
        <group>vtweb_mandiribill</group>
        <active>1</active>
        <title>ATM Mandiri</title>
        <sort_order>8</sort_order>
      </echannel>
      <bbm_money>
        <model>vtweb/bbmmoney</model>
        <group>vtweb_bbmmoney</group>
        <active>1</active>
        <title>BBM Money</title>
        <sort_order>9</sort_order>
      </bbm_money>
      <cstore>
        <model>vtweb/indomaret</model>
        <group>vtweb_indomaret</group>
        <active>0</active>
        <title>indomaret</title>
        <sort_order>10</sort_order>
      </cstore>
      <indosat_dompetku>
        <model>vtweb/indosatdompetku</model>
        <group>vtweb_indosatdompetku</group>
        <active>1</active>
        <title>Indosat Dompetku</title>
        <sort_order>11</sort_order>
      </indosat_dompetku>
    </payment>
  </default>
  <frontend>
    <routers>
      <vtweb>
        <use>standard</use>
        <args>
          <module>Veritrans_Vtweb</module>
          <frontName>vtweb</frontName>
        </args>
      </vtweb>
    </routers>
  </frontend>
  <adminhtml>
    <layout>
      <updates>
        <veritrans_vtweb>
          <file>veritrans.xml</file>
        </veritrans_vtweb>
      </updates>
    </layout>
  </adminhtml>
</config>
